*
{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: url('https://img.freepik.com/premium-vector/naadloos-patroon-van-de-pootafdruk-van-katten-en-honden-op-blauwe-achtergrond_604817-259.jpg');
  font-family: Helvetica;
}

#app{
  max-width: 500px;
  margin: 2em auto;
  background-color: #ebca7f;
  padding: 1em;
  border-radius: 10px;
}

h1{
    font-size: 1.2em;
    text-align: center;
  }
  
  .alert{
    background-color: #8EC0E5;
    border: 0.5px solid #097fda;
    border-radius: 5px;
    border-left-width: 5px;
    padding: 0.5em;
  }
  
  .nav--login{
    padding: 0.3em;
  }
  
  .nav--login a{
    color: #A291C4;
    text-decoration: none;
    margin-right: 1em;
  }
  
  .form{
    padding: 0.5em;
  }
  
  .form label{
    display: block;
    margin-top: 0.5em;
  }
  
  .form input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #e2d1a8;
    border: none;
  }
  
  .btn{
    margin: 1em 0;
    background-color: #b1cee3;
    color: black;
    text-align: center;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    border: none;
  }
  
  .nav--login{
    border-bottom: 2px solid #A291C4;
    margin-bottom: 1em;
  }
  
  .nav{
    background-color: #ebca7f;
    padding: 0.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6em;
  }
  
  .nav a{
    margin: 0 1em;
    text-decoration: none;
  }
  
  a.loggedIn{
    flex: 0 1 240px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .user--avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    align-self: center;
  }
  
  .user--name{
    margin: 0;
  }
  
  .user--avatar img{
    object-fit: cover;
    object-position: center;
    width: 50px;
  }
  
  .nav a{
    color: black;
  }
  
  .nav a:hover{
    color: #fff;
  }
  
  .hidden{
    display: none;
  }